<ion-header>
  <ion-toolbar class="user-profile">
    <ion-grid>
      <ion-list>
        <ion-item-sliding *ngFor='let u of listagemUsuario | async'> 
          <ion-item class="item-trns" *ngIf='uiduser == u.iduser' disable>
            <ion-row>
              <ion-col col-4>
                  <div class="user-avatar">
                    <img src="https://www.shareicon.net/data/128x128/2016/09/15/829473_man_512x512.png">
                  </div>
              </ion-col>
              <ion-col padding-top col-8>
                <h1 ion-text class="no-margin bold text-white">
                  {{u.nome}}
                </h1>
                <span ion-text color="dark">{{u.email}}</span>
              </ion-col>
            </ion-row>

            <ion-row no-padding class="other-data">
              <ion-col no-padding class="column">
                <button ion-button icon-left small full color="light" (click)="editUsuario(u)">
                  <ion-icon name="contact"></ion-icon>
                  Editar Usuário
                </button>
              </ion-col>
              <ion-col no-padding class="column">
                <button ion-button icon-left small full color="danger" (click)="logout()">
                  <ion-icon name="log-out"></ion-icon>
                  Sair
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
